{% extends 'main.html' %}

{% block content %}

{% if list_product['bin'] != '[]' %}
{% set a = dict(list_product['bin'][1:-1]) %}
{% for i in range(a | length) %}
<div>
    <figure style="display:flex; margin-top: 10px; justify-content: center; background: #afafaf; position:relative; width: 60%; left: 20%; border-radius: 10px">

        {% if a | length == 1 %}
        <img src="{{dict(a['product']['image']).0}}"
             style="height:230px; width: 35%; border-radius: 10px; margin-top: 10px; margin-bottom: 10px; box-shadow: 0 0 10px">
        <div style="width: 60%; background: #ffbe93; border-radius: 10px; box-shadow: 0 0 10px; margin: 10px;">
            <p style="position:relative; right: 100px; text-align: right">{{ a['product']['title'] }}</p>
            <div style="text-align: center">
                <p>{{ a['product']['count'] }}</p>
            </div>
        </div>
        {% else %}
        <img src="{{dict(a[i]['product']['image']).0}}"
             style="height:230px; width: 35%; border-radius: 10px; margin-top: 10px; margin-bottom: 10px; box-shadow: 0 0 10px">
        <div style="width: 60%; background: #ffbe93; border-radius: 10px; box-shadow: 0 0 10px; margin: 10px;">
            <p style="position:relative; right: 100px; text-align: right">{{ a[i]['product']['title'] }}</p>
            <div style="position: relative; top: 30%; left: 40%; background: #ff9d5a; border-radius: 10px; display: inline-block; padding: 5px">
                <p>Цена: {{ a[i]['product']['price'] | int * a[i]['product']['count'] | int}}</p>
                <p>Количество: {{ a[i]['product']['count'] }}</p>
            </div>
            <a onclick="fetch ('/del_bin', {
  method: 'POST',
  body: JSON.stringify({content: {id: {{a[i]['product']['id']}} }})}), window.location.reload();"><img src="../static/delete.png" style="width: 5%; float: right; margin-top: 40%"></a>
        </div>
        {% endif %}
    </figure>
</div>
{% endfor %}
{% else %}
<p style="text-align: center; margin-bottom: calc(100vh - 15%)">Товаров нет</p>
{% endif %}
{% endblock %}