Политика в области обработки персональных данных и список контрагентов
Версия 3.1.
 

1. Общие положения

1.1 Настоящая Политика определяет порядок, условия обработки и меры по обеспечению безопасности персональных данных в ООО «Лента» (далее – Компания, Лента) с целью защиты прав и свобод человека и гражданина при обработке его персональных данных (далее – ПДн), в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.

1.2 Настоящая Политика разработана и применяется в соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных».

1.3 Действие Политики распространяется на все обрабатываемые в Компании с применением средств автоматизации и без применения таких средств ПДн.

1.4 Целью создания Политики является ознакомление граждан с принципами, на которых строится обработка ПДн в Компании.

1.5 Должностные лица Компании, виновные в нарушении норм, регулирующих обработку и защиту ПДн, несут материальную, дисциплинарную, административную, гражданско-правовую или уголовную ответственность в порядке, установленном Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных».

1.6 К настоящей Политике должен иметь доступ любой субъект ПДн

2. Принципы и условия обработки персональных данных

2.1 Безопасность ПДн, обрабатываемых Компанией, обеспечивается реализацией правовых, организационных, технических и программных мер, необходимых и достаточных для обеспечения требований Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных» в области защиты ПДн.

2.2 В Компании обрабатываются ПДн следующих субъектов ПДн:

Работников, состоящих с Компанией в трудовых отношениях;

близких родственников Работников Компании;

кандидатов и соискателей на вакантные должности Компании;

субъектов, состоящих в договорных отношениях с Компанией;

стажеров и субъектов, проходящих производственную практику в Компании;

работников контрагентов Ленты, с которыми заключены договоры гражданско-правового характера;

посетителей Компании, не являющихся клиентами или контрагентами Компании – физических лиц, осуществляющих проход на территорию офисных помещений Компании в порядке, предусмотренном правилами пропускного режима;

клиентов (покупателей) Компании, которым Лента реализует товары или оказывает услуги;

клиентов, являющихся владельцами карт постоянного покупателя и участниками программы лояльности.

2.3 Обработка ПДн в Компании осуществляется на законной и справедливой основе согласно следующим принципам:

обработке подлежат данные, содержание и объем которых отвечают целям их обработки;

не допускается обработка данных, не совместимая с целями их сбора;

не допускается объединение баз данных, содержащих данные, обработка которых осуществляется в целях, не совместимых между собой;

должна быть обеспечена точность данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки;

данные должны быть уничтожены либо обезличены по достижении целей их обработки или при утрате необходимости в достижении этих целей, при невозможности устранения допущенных Компанией нарушений при обработке и/или хранении ПДн.

2.4 Компания обрабатывает ПДн только при наличии хотя бы одного из следующих условий:

2.4.1 обработка осуществляется с согласия субъекта ПДн;

2.4.2 ПДн сделаны общедоступными субъектом ПДн;

2.4.3 обработка ПДн необходима для достижения целей, предусмотренных законом, для выполнения функций и обязанностей и осуществления полномочий, возложенных законодательством РФ на Компанию (оператора ПДн);

2.4.4 обработка ПДн необходима для:

2.4.4.1 исполнения договора, стороной которого либо выгодоприобретателем/поручителем по которому является субъект ПДН, а также;

2.4.4.2 заключения договора по инициативе субъекта ПДн или договора, по которому субъект ПДн будет являться выгодоприобретателем или поручителем;

2.4.5 обработка ПДн необходима для осуществления прав и законных интересов Компании или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта ПДн;

2.4.6 осуществляется обработка ПДн, подлежащих опубликованию или обязательному раскрытию в соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных».

2.5 Сотрудники Компания и иные лица, получившие доступ к ПДн, обязаны не раскрывать третьим лицам и не распространять данные без согласия субъекта ПДн, если иное не предусмотрено Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных».

2.6 В целях информационного обеспечения в Компании могут создаваться общедоступные источники ПДн Сотрудников, в том числе справочники и адресные книги.

2.6.1 В общедоступные источники ПДн с согласия Сотрудника могут включаться его фамилия, имя, отчество, занимаемая должность, наименование подразделения, день и месяц рождения, контактная информация (рабочий и мобильный телефоны, адрес электронной почты), личная фотография, сведения о трудовой деятельности, история кадровых перемещений, информация о предыдущих местах работы (либо информация о местах работы в / вне Ленты), информация об образовании, знании иностранных языков.

2.6.2 Сведения о Сотруднике должны быть в любое время исключены из общедоступных источников ПДн по требованию этого Сотрудника, либо по решению суда или иных уполномоченных государственных органов.

2.7 Компания вправе поручить обработку ПДн другому лицу (на основании договора с этим лицом) с согласия субъекта ПДн, если иное не предусмотрено Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных».

2.7.1 Лицо, осуществляющее обработку ПДн по поручению Компании, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных».

2.8 Обработка Компанией специальных категорий ПДн, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни, допускается в случаях, указанных в п.п. 2.4.1, 2.4.2, а также если:

обработка осуществляется в соответствии с законодательством о государственной социальной помощи, трудовым законодательством, законодательством РФ о пенсиях по государственному пенсионному обеспечению, о трудовых пенсиях;

обработка данных необходима для установления или осуществления прав субъекта ПДн или третьих лиц, а равно и в связи с осуществлением правосудия;

обработка осуществляется в соответствии с законодательством РФ о противодействии терроризму, коррупции, об исполнительном производстве, уголовно-исполнительным законодательством РФ;

обработка осуществляется в соответствии с законодательством об обязательных видах страхования, со страховым законодательством.

2.8.1 Обработка специальных категорий ПДн должна быть незамедлительно прекращена, если устранены причины, вследствие которых осуществлялась их обработка, если иное не установлено Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных».

2.9 Обработка ПДн о судимости может осуществляться Компанией исключительно в случаях и в порядке, которые определяются Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных».

2.10 Сведения, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность (биометрические ПДн) могут обрабатываться Компанией только при наличии согласия в письменной форме.

2.11 Трансграничная передача ПДн на территорию иностранных государств может осуществляться Компанией только при наличии согласия субъекта ПДн на передачу.

2.11.1 До начала осуществления трансграничной передачи ПДн Компания обязана убедиться в том, что иностранным государством, на территорию которого осуществляется передача, обеспечивается адекватная защита прав субъектов ПДн.

2.12 Компания обязана обеспечить запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение персональных данных граждан РФ с использованием баз данных, находящихся на территории РФ.

2.13 Иные права и обязанности Компании, как оператора ПДн, определяются законодательством РФ в области защиты ПДн.

3. Права субъекта персональных данных

3.1 Субъект ПДн принимает решение о предоставлении своих ПДн и даёт согласие на их обработку свободно, своей волей и в своем интересе.

3.2 Согласие на обработку ПДн может быть дано субъектом ПДн или его представителем в любой позволяющей подтвердить факт получения ПДн форме, если иное не установлено Федеральным законом от 27.07.2006г. № 152-ФЗ «О персональных данных».

3.2.1 Компания должна иметь возможность предоставить доказательство получения согласия субъекта ПДн на обработку его ПДн или доказательство наличия оснований для обработки в соответствии с Федеральным законом от 27.07.2006г. № 152-ФЗ «О персональных данных».

3.3 Обработка ПДн в целях продвижения товаров, работ, услуг на рынке путём осуществления прямых контактов с потенциальным потребителем с помощью средств связи допускается только при условии предварительного согласия субъекта ПДн.

3.4 По требованию субъекта ПДн Компания обязана немедленно прекратить обработку его ПДн.

3.5 Субъект ПДн имеет право на получение касающейся обработки его ПДн информации (если такое право не ограничено в соответствии с Федеральным законом от 27.07.2006г. № 152-ФЗ «О персональных данных»), в том числе содержащей:

подтверждение факта обработки ПДн;

правовые основания и цели обработки ПДн;

применяемые способы обработки ПДн;

наименование и место нахождения Компании, сведения о лицах (за исключением штатных Сотрудников Компании), которые имеют доступ к ПДн субъектов ПДн или которым могут быть раскрыты ПДн;

конкретные виды обрабатываемых ПДн, источник их получения;

сроки обработки, в том числе срок хранения ПДн;

информацию об осуществленной или предполагаемой трансграничной передаче данных;

наименование или фамилию, имя, отчество и адрес лица, осуществляющего обработку ПДн по поручению Компании, если обработка поручена или будет поручена такому лицу.

3.6 Субъект ПДн вправе требовать от Компании уточнения его ПДн, их блокирования или уничтожения в случае, если ПДн являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принятия предусмотренных законом мер по защите своих прав.

3.7 Субъект ПДн вправе отозвать данное ранее согласие на обработку ПДн путём направления заявления в адрес Компании.

3.7.1 В случаях, указанных в п.п. 2.4.2-2.4.6, у Компании есть все законные основания продолжить обработку, не нарушая при этом законных прав граждан.

3.8 Запрещено принятие на основании исключительно автоматизированной обработки ПДн решений, порождающих юридические последствия в отношении субъекта ПДн или иным образом затрагивающих его права и законные интересы, за исключением случаев, предусмотренных Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных», или при наличии письменного согласия субъекта ПДн.

3.9 Субъект имеет право заявить возражение против принятия решений, порождающих юридические последствия, на основании исключительно автоматизированной обработки персональных данных.

3.10 Если субъект ПДн считает, что Компания осуществляет обработку его ПДн с нарушением требований Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных» или иным образом нарушает его права и свободы, субъект ПДн вправе обжаловать действия или бездействие Компании в Уполномоченном органе по защите прав субъектов ПДн или в судебном порядке.

3.11 Субъект ПДн имеет право на защиту своих прав и законных интересов, в том числе на возмещение убытков и/или компенсацию морального вреда, причиненного вследствие нарушения режима обработки ПДн, в судебном порядке.

4. Термины и сокращения

Субъект ПДн – физическое лицо, к которому относится информация, содержащая персональные данные.

5. Информация о документе

Субъекты, чьи ПДн обрабатываются в Компании, могут обратиться по интересующим вопросам, а также для реализации их прав к ответственному лицу по адресу электронной почты: pdn@lenta.com