<html>

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="/static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Exchange</title>
</head>

<body>
    <figure class="figure"></figure>
    <header
        style="background-color: #7C7C7C; width: 100%; text-align: center; border-radius: 0 0 10px 10px; box-shadow: 0 0 5px;"
        class="flex-container">
        <a href="/"><img src="../static/exchange-01_4x.png" height="100" width="150"
                style="display: inline-block; margin-right: -10px" /></a>
        <!--Главная-->
        <div style="margin-right: 10px" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FF9D5A; border-radius: 10px">
                <img src="../static/list.png" />
                <ruby onmouseover="this.style.color='#FFE5E5E5'" onmouseout="this.style.color='white'">Каталог</ruby>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item">Действие</a></li>
                <li><a class="dropdown-item">Другое действие</a></li>
                <li><a class="dropdown-item">Что-то еще здесь</a></li>
            </ul>
        </div>
        <!--Каталог-->
        <div class="input-group mb-3" style="width: 40%; height: auto">
            <input type="text" class="form-control" placeholder="Продукт..." style="border-radius: 10px;"
                aria-label="Имя пользователя получателя" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"
                style="height: fit-content; background: #ff9d5a; border-color: #ff9d5a; color: white;position: relative; border-radius: 10px"><a
                    href="/search" style="text-decoration: None; color: white;"
                    onmouseover="this.style.color='#FFE5E5E5'" onmouseout="this.style.color='white'">Поиск</a></span>
        </div>
        <!--Поиск-->
        <a href="/reg"><img src="../static/account.png" style="width: 40px; border-radius: 20px"></a>
        <!--ЛК-->
    </header>
    <div class="content">
    </div>
    <footer class="footer">
        <a class="footer_link" href="buy" style="text-decoration: None; color: black"
            onmouseover="this.style.color='rgba(0,0,0,0.79)'"
            onmouseout="this.style.color='rgb(0,0,0)'"><b>Покупателю</b><br /> Доставка и оплата<br />Правила
            возврата</a>
        <a class="footer_link" href="payment" style="text-decoration: None; color: black"
            onmouseover="this.style.color='rgba(0,0,0,0.79)'" onmouseout="this.style.color='rgb(0,0,0)'"><b>Способы
                оплаты</b></a>
        <a class="footer_link" href="contacts" style="text-decoration: None; color: black"
            onmouseover="this.style.color='rgba(0,0,0,0.79)'"
            onmouseout="this.style.color='rgb(0,0,0)'"><b>Контакты</b></a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>