{% extends 'main.html' %}


{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редактирование товара</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Название: <input type="text" class="form-control" id="title"
                                 value="{{list_product['product']['title']}}">
                Количество (На складе) <input type="number" class="form-control" id="count" min="1"
                                              value="{{list_product['product']['count']}}">
                Цена <input type="number" class="form-control" id="price" min="1"
                            value="{{list_product['product']['price']}}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn" style="background: #ff9d5a" data-bs-dismiss="modal" onclick="fetch ('/edit_product', {
  method: 'POST',
  body: JSON.stringify({content: {id: {{list_product['product']['id']}}, title: document.getElementById('title').value, count: document.getElementById('count').value,
  price: document.getElementById('price').value} })}), window.location.reload();">
                    Сохранить изменения
                </button>
            </div>
        </div>
    </div>
</div>
<!--Модальное окно для редактирования товара-->
<figure
        style=" margin-left: auto; margin-right: auto; margin-top: 15px; width: 80%; background: #7C7C7C; border-radius:
                        10px; display: flex; justify-content: center
                ">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel">
            <div class="carousel-item active">
                <img style="height: 400px; width: 300px; border-radius: 20px;"
                     src="{{ list_product['product']['image'][1:-1].split(',').1[2:-1] }}"
                     class="d-block w-100"
                     alt="Тут что то должно быть">
            </div>
            {% for n in list_product['product']['image'][1:-1].split(', ')[1:] %}
            <div class="carousel-item">
                <img src="{{n[1:-1]}}" style="height: 400px; width: 300px; border-radius: 20px;"
                     class="d-block w-100"
                     alt="Тут что то должно быть">
            </div>
            {% endfor %}
        </div>
        <button style="height: 400px" class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button style="height: 400px" class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <figure
            style="background: #ff9d5a; border-radius: 10px; margin-left: 10px; width: 77%; height: 600px; margin-right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); margin-top: 10px">
        {% if session['is_admin'] %}
        <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../static/edit.png"
                                                                      style="width: 4%; position: relative; float: right"></a>
        <a onclick="fetch ('/del_product', {
  method: 'POST',
  body: JSON.stringify({content: {id: {{list_product['product']['id']}} }})}), window.location.reload();"><img src="../static/delete.png"
                                                                                       style="width: 4%; position: relative; float: right"></a>
        {% endif %}
        <div style="position: relative; left: 35px; top: 15px; width:50%"><b>{{
            list_product['product']['title'] }}</b>
        </div>
        <div class="buy" style="position:relative; left: 65%">Цена: <b>{{ list_product['product']['price']
            }}</b><br>
            {% if session['is_admin'] %}
            Количество (На складе): {{ list_product['product']['count'] }}<br/>
            {% endif %}

            Количество: <input type="number" min="1" id="count_to_buy" value="1"
                               max="{{list_product['product']['count']}}"
                               style="border-radius: 10px; border: 0px; width: 15%; outline: none;"><br/>
            <button
                    style="border-radius: 10px; border: 0; background: #ff6000; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); padding: 6px; margin-top: 10px"
                    onclick="fetch ('/add_bin', {
  method: 'POST',
  body: JSON.stringify({id: {{list_product['product']['id']}}, count: document.getElementById('count_to_buy').value  })})">
                Добавить в корзину
            </button>
            <br/>
            <button
                    style="border-radius: 10px; border: 0; background: #ff6000; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); padding: 6px; margin-top: 10px"
                    onclick="fetch ('/add_favourite', {
  method: 'POST',
  body: JSON.stringify({id: {{list_product['product']['id']}}, count: document.getElementById('count_to_buy').value  })})"
                    style="border-radius: 10px; border: 0; background: #ff6000; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); padding: 6px; margin-top: 10px">
                В избранное
            </button>
        </div>
    </figure>
</figure>
{% endblock %}