{% extends 'main.html' %}


{% block content %}
<figure style="margin-left: auto; margin-right: auto; margin-top: 15px; width: 80%; background: #7C7C7C; border-radius: 10px; display: flex; justify-content: center">
    <img src="http://img5a.flixcart.com/image/short/u/4/a/altht-3p-21-alisha-38-original-imaeh2d5vm5zbtgg.jpeg"
         style="width: 200px; height: 200px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); margin-top: 10px"
         alt="Тут что то должно быть"/>
    <figure style="background: #ff9d5a; border-radius: 10px; margin-left: 10px; width: 77%; height: 600px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); margin-top: 10px">
        <div style="position: relative; left: 35px; top: 15px"><b>asdsadsad</b></div>
        <div class="buy" style="position:relative; left: 65%">Цена: <b>бесценно</b><br>
            Количество:    <input type="number" min="1" placeholder="..." style="border-radius: 10px; border: 0px; width: 15%; outline: none;">
        </div>
        <button style="border-radius: 10px; border: 0; background: #ff6000; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); padding: 6px; margin-left: 80%; margin-top: 50%">
            Добавить в корзину
        </button>
    </figure>
</figure>

{% endblock %}
